@import './lime.css';
@import './red.css';
@import './orange.css';
@import './yellow.css';
@import './green.css';
@import './teal.css';
@import './blue.css';
@import './purple.css';
@import './magenta.css';
@import './neutral.css';

:root {
	color-scheme: dark light;

	/* This can be paired with the animated outline */
	--outline-color: var(--blue-700);
	--outline: 0.125rem solid var(--outline-color);
}

* {
	outline-offset: -2px;
	outline-color: var(--outline-color);
}

*:not(:active):focus-visible {
	outline: var(--outline);
	outline-offset: 2px;
}

.focus-visible:has(:not(:active):focus-visible) {
	outline: var(--outline);
	outline-offset: 2px;
}

.focus-visible:has(:not(:active):focus-visible) :focus-visible {
	outline: none;
}
