@import './styles/fonts/index.css';

@import './styles/reset/vars.css' layer(reset);
@import './styles/reset/index.css' layer(reset);
@import './styles/reset/animations.css' layer(reset);

@import './styles/utils/a11y.css' layer(a11y);

@import './styles/colors/index.css' layer(colors);

@layer fonts, reset, a11y, colors, app;

@layer reset {
	:root {
		--reset-heading-font-family: BespokeSlab;
		--reset-code-font-family: FiraCode;
		--reset-body-font-family: NebulaSans;
	}
}
